@mixin fontregular()
	font-family: "LinotypeUniversW01-Regu", Helvetica, Arial, sans-serif
	font-style: normal
	font-weight: 400

@mixin fontbold()
	font-family: "Linotype Univers W01 Cn", Helvetica, Arial, sans-serif
	font-style: normal
	font-weight: 400

@mixin fontcopy()
	font-family: "LinotypeUniversW01-Regu", Helvetica, Arial, sans-serif
	font-style: normal
	font-weight: 400

@mixin fontheadline()
	font-family: "Linotype Univers W01 Cn", Helvetica, Arial, sans-serif
	font-style: normal
	font-weight: 400
