html
	height: 100%
	box-sizing: border-box

*
	box-sizing: inherit
	&::before, &::after
		box-sizing: inherit

&::selection
	color: #fff
	background-color: $color-selection
	text-shadow: none

body
	-webkit-overflow: touch
	background-color: black
	+bp(large)
		overflow: hidden
		height: 100%
