.Navigation--show
	.Header
		height: 100%

.Header
	overflow: visible
	&__body
		position: relative
		display: block
	&__logo
		position: absolute
		top: 1.15em
		right: 1.2em
		margin: 0
		font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif
		font-weight: 400
		font-size: 1.2em
		line-height: 1em
		+bp('large')
			font-size: 1.42857143em
		letter-spacing: 0.1em
		text-transform: uppercase
		z-index: 2
		a
			display: block
