.Page
	position: absolute
	width: 100%
	+bp('medium')
		height: 100%
		overflow: hidden
	&--single
	&--multi

	&__inner
		position: relative
		z-index: 0
		color: #000
		+bp('medium')
			min-height: 50%
