.Page
	position: relative
	overflow: hidden
	+bp('large')
		border-radius: 15px
	&-inner
		z-index: 0
		color: #000
		background-color: $color-content
		+bp('large')
			border-radius: 0.28571429em
			margin: 0.71428571em
		overflow: hidden
		min-height: 600px
