.Page
	width: 100%
	+bp('large')
		position: absolute
		height: 100%
		overflow: hidden
	&--single
	&--multi

	&__inner
		position: relative
		z-index: 0
		color: #000
		+bp('large')
			min-height: 50%
