.Slider
	position: relative
	&__background
		width: 100%
		height: 100%
		background-position: center
		background-size: cover
	&__layer
		>div
			&.active
				svg
					opacity: 0.25
				h1,h2,h3
					span
						+transform(translateX(0%))
			svg
				opacity: 0
				position: absolute
				top: 0
				left: 50%
				width: 100%
				+transform(translateX(-50%))
				z-index: 102
				line
					stroke-width: 1
			h1
				font-size: 7.5em
				line-height: 0.8
				top: 50%
				+transform(translateY(-50%))
				>span
					>span
						+transition(all, 1.25s, ease-out)
			h2
				font-size: 3em
				line-height: 0.8
				top: 15%
				right: 5%
				>span
					>span
						+transition(all, 1.05s, ease-out, 0.1s)
			h3
				font-size: 3em
				line-height: 0.8
				top: 80%
				left: 10%
				>span
					>span
						+transition(all, 0.75s, ease-out, 0.15s)
			h1, h2, h3
				z-index: 101
				color: white
				position: absolute
				letter-spacing: 0.0
				+fontbold()
				+noselect()
				>span
					margin: 0
					padding: 0
					display: inline-block
					overflow: hidden
					>span
						display: block
						+transform(translateX(-101%))

.swiper-container
	width: 100%
	height: 100%
	.swiper-button-prev,
	.swiper-button-next
		background-color: rgba(#000, 1)
		background-size: 20px 12px
		background-position: 10% 50%
		border-radius: 100%
		height: 40px
		width: 40px
		margin-top: -20px
		+bp(large)
			background-size: 40px 24px
			height: 80px
			width: 80px
			margin-top: -40px
		top: 50%

		+transition(all, 0.25s)

	.swiper-button-next
		&:hover
			right: 5px
		right: 0px
		+transform(translateX(55%))

	.swiper-button-prev
		&:hover
			left: 5px
		background-position: 90% 50%
		left: 0px
		+transform(translateX(-55%))

	.swiper-pagination
		left: 0
		right: 0

	.swiper-slide
		margin: 0 !important
		/* Center slide text vertically */
		display: -webkit-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-box-pack: center
		-ms-flex-pack: center
		-webkit-justify-content: center
		justify-content: center
		-webkit-box-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
		img
			width: 100%
