.Slider
	&__background
		width: 100%
		height: 100%
		background-position: center
		background-size: cover

.swiper-container
	width: 100%
	height: 100%
	.swiper-button-prev,
	.swiper-button-next
		background-color: rgba(#000, 1)
		background-size: 20px 12px
		background-position: 10% 50%
		border-radius: 100%
		height: 40px
		width: 40px
		margin-top: -20px
		+bp(large)
			background-size: 40px 24px
			height: 80px
			width: 80px
			margin-top: -40px
		top: 50%

		+transition(all, 0.25s)

	.swiper-button-next
		&:hover
			right: 5px
		right: 0px
		+transform(translateX(55%))

	.swiper-button-prev
		&:hover
			left: 5px
		background-position: 90% 50%
		left: 0px
		+transform(translateX(-55%))

	.swiper-pagination
		left: 0
		right: 0

	.swiper-slide
		margin: 0 !important
		/* Center slide text vertically */
		display: -webkit-box
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-box-pack: center
		-ms-flex-pack: center
		-webkit-justify-content: center
		justify-content: center
		-webkit-box-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
		img
			width: 100%
